*.app
*.flf
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
launch.json
rad.json
.output/
.dependencies/
.buildartifacts/
.alpackages/
.packages/
.alcache/
.altemplates/
.altestrunner/
.snapshots/
cache_*
~$*
Josep Pages_Track Notifications_1.0.0.0.zip
